body {
    font-family: Arial;
    font-size: 15px;
    color: white;
    background-color: black;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}
    .title {
        font-size: 20px;
        font-weight: bold;
    }
    .filters, .right-buttons {
        display: flex;
        gap: 10px;
    }
        .right-buttons {
            margin-left: auto;
        }

.todo-grid, .todo-input-grid {
    display: grid;
    grid-template-columns: 300px 200px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    overflow-wrap: anywhere;
}
    .todo-input-grid {
        margin-bottom: 30px;
        align-items: stretch;
    }
@media (min-width: 1100px) {
    .todo-grid, .todo-input-grid {
        grid-template-columns: 1fr 200px 100px;
    }
}
@media (max-width: 500px) {
    .todo-grid, .todo-input-grid {
        grid-template-columns: 1fr 200px 100px;
    }
}

.name-input, .date-input {
    font-size: 15px;
    padding: 6px;
}
.add-button,
.delete-button,
.filter-button,
.notification-button,
.changeTheme-button {
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
    .add-button{
        background-color: green;
    }
    .delete-button {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: darkred;
    }
    .filter-button {
        background-color: white;
        color: black;
    }
        .filter-button-active {
            background-color: green;
            color: white;
        }
    .notification-button, .changeTheme-button {
        padding: 5px;
        font-size: 18px;
        border-radius: 8px;
    }
        .ch-pic {
        width: 24px;
        height: 24px;
        object-fit: contain;
        }

.todo-input-grid > input,
.todo-grid > div,
.todo-grid > li,
.add-button,
.delete-button,
.filter-button {
    border: 1px solid white;
    padding: 8px;
}

.js-todo-list {
    list-style: none;
    counter-reset: todo;
    padding-left: 0;
}
.js-todo-list li {
    counter-increment: todo;
}
.js-todo-list li::before {
    content: "#" counter(todo) ". ";
}

.light-mode {
    color: black;
    background-color: white;
}
    .light-mode .changeTheme-button,
    .light-mode .notification-button,
    .light-mode .filter-button {
        background-color: black;
    }
    .light-mode .filter-button {
        color: white;
    }
        .light-mode .filter-button-active {
            background-color: green;
            color: white;
        }
    .light-mode .todo-input-grid > input,
    .light-mode .todo-grid > div,
    .light-mode .todo-grid > li,
    .light-mode .add-button,
    .light-mode .delete-button,
    .light-mode .filter-button
    {
        border: 1px solid black;
    }

/*
. fix different borders
*/
